@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vinda Danielle</h1>
    <p>Agora tem um site pra te dizer que te amo meu bem</p>
</div>
